[2019-08-05 22:55] hlpostman opened #2 "Tasks: Broken links in docstring ReStructured text."
The [Types for Cloud Tasks API](https://googleapis.github.io/google-cloud-python/latest/tasks/gapic/v2/types.html) documentation seems to have a markdown formatting issue.  There are a number of places where a property is specified in square brackets immediately followed by the same property fully specified with the library in square brackets, e.g. `[AppEngineHttpRequest][google.cloud.tasks.v2.App

[2019-09-04 22:54] alexcwatt opened #1 "Tasks: Update queue, "x-goog-request-params" header"
#### Environment details

Running google-cloud-tasks==1.2.1.

#### Steps to reproduce

  1. Create a Cloud Tasks queue.
  2. Attempt to update the queue using the update_queue method with a dictionary to specify the queue name.
  3. Observe exception: google.api_core.exceptions.InvalidArgument: 400 "x-goog-request-params" header is either missing or misformatted. "x-goog-request-params" must conta

[2020-02-20 13:34] yoshi-automation opened #7 "Synthesis failed for python-tasks"
Hello! Autosynth couldn't regenerate python-tasks. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/bc296324-7867-4eae-a113-8090e6bcc834).

[2020-02-20 23:25] yoshi-automation commented on #7
Autosynth passed, closing! :green_heart:

[2020-02-20 23:25] #7 closed

[2020-03-03 18:02] busunkim96 commented on #1
Hmm, from a closer read this looks like it needs to be addressed in the generator. @software-dov could you take a look?

[2020-04-15 19:45] jer-tx opened #20 "Possible memory leak when creating tasks"
We're trying to migrate from Appengine Standard to Appengine Flexible, and we're also changing frameworks from Webapp2 to Pyramid, as webapp2 doesn't support python 3 (and is quite old)

We have an endpoint that receives 1 request per second, roughly, and that endpoint kicks off a task. It seems that the process of creating a task isn't releasing memory. I'll try to give as much info as I can.

##

[2020-04-30 23:56] jer-tx commented on #20
Closing this as it appears to be related to Gunicorn under appengine flexible, at least when using it with Pyramid. Using Waitress and pyramid, all is well.

[2020-04-30 23:56] #20 closed

[2020-05-21 13:12] tjg37 opened #25 "gunicorn update from 19.x.x to 20.x.x results in 503 Deadline Exceeded"
#### Environment details

  - OS type and version:
  - Python version: 3.6
  - pip version: 10.0.1
  - `google-cloud-tasks` version: 1.5.0
  - Django: 3.0.5
  - Gunicorn: 20.0.0

#### Steps to reproduce

  1. Deploy Django server to GAE Flex environment with gunicorn version 20.0.0
  2. Attempt to queue a cloud task
  3. Receive an error `google.api_core.exceptions.ServiceUnavailable: 503 Deadline

[2020-05-24 09:45] ShahzadUmair opened #26 "Transactional Enqueuing"
**Is your feature request related to a problem? Please describe.**
We wish to migrate our app from python2 to python3 and we heavily rely on transactional enqueuing. The migration doc does not explain how this might work with cloud ndb and tasks.

 **Describe the solution you'd like**
There should be some way of attaching actions with the transaction with or without limit of allowed actions.

 **D

[2020-06-20 15:40] yoshi-automation opened #27 "Synthesis failed for python-tasks"
Hello! Autosynth couldn't regenerate python-tasks. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/e93a3b66-0b9d-4731-8049-5d33389af1dc/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2020-06-21 12:32] yoshi-automation commented on #27
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/542bd4aa-b522-4e6e-aca3-cd5c86dd47c1/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2020-06-22 13:15] yoshi-automation commented on #27
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/405f280e-5ab2-49ae-b77d-77012ce727cc/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2020-06-23 13:05] jacobg opened #28 "Inconsistent documentation on creating a task"
This client library's documentation for the `create_task` function includes optional parameters for `retry`, `timeout`, and `metadata`, as shown here:
https://googleapis.dev/python/cloudtasks/latest/gapic/v2/api.html?highlight=create_task#google.cloud.tasks_v2.CloudTasksClient.create_task

However, the Cloud Tasks REST API does not include such parameters, as shown here:
https://cloud.google.com/t

[2020-06-24 18:36] davidwtbuxton commented on #28
Hi Jacob,

From reading [the linked docs][1], the retry, timeout and metadata arguments are used for controlling the gRPC request itself, and are common to all gRPC requests (not specific to the tasks API).

The parameters used by the tasks API itself should be supplied as [fields in the task argument][2] to the create_task request.

David

[1]: https://googleapis.dev/python/cloudtasks/latest/gapi

[2020-06-24 18:49] jacobg commented on #28
Ah thanks for clarifying @davidwtbuxton. I didn't notice that.

So it sounds like the old App Engine Task API retry_options is unfortunately no longer an option. That's too bad, since it's nice for the caller to tweak retry options on an individual basis. In the new API, each queue will have its retry strategy configured up front.

[2020-06-24 18:50] jacobg commented on #28
Closing this issue.

[2020-06-24 18:50] #28 closed

[2020-06-24 19:02] davidwtbuxton commented on #28
Personally I reckon allowing specific tasks on a queue to have custom retry settings will lead to confusion.

Either way, please note that there are some differences depending on [how a queue is created on App Engine][1].

[1]: https://cloud.google.com/tasks/docs/queue-yaml

[2020-06-24 23:23] yoshi-automation commented on #27
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/0136b853-de8f-4be6-b113-5f05ce1b12a4/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2020-06-25 14:03] yoshi-automation commented on #27
Autosynth passed, closing! :green_heart:

[2020-06-25 14:03] #27 closed

[2020-07-23 12:41] MeLight opened #33 "Clear example of usage for `create_task`"
Here's the documentation example for creating a task:
![image](https://user-images.githubusercontent.com/704484/88285893-8a272b80-ccf8-11ea-8094-3e67c42739d1.png)

Is it just me, or is it missing the important parts?
Specifically, I would like to know how to provide the URL of the handler I want the task to call, and second, I'd like to send a payload.
I'm going to research the docs now. Thanks

[2020-07-23 15:28] grant commented on #33
Hi @MeLight, can you link the example you see?
It looks like this is generated code.

Are you looking for something like this?
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/tasks/create_http_task.py

[2020-07-26 07:42] MeLight commented on #33
Nope, this is part of what seems to be the official docs.
You can find it here: https://googleapis.dev/python/cloudtasks/latest/gapic/v2/api.html

And this is how I found that specific page:
go to repo homepage: https://github.com/googleapis/python-tasks
scroll down, and click [Client Library Documentation](https://googleapis.dev/python/cloudtasks/latest/index.html)
when in the homepage of the doc

[2020-08-03 12:21] ShahzadUmair commented on #33
@MeLight are you looking for https://googleapis.dev/python/cloudtasks/latest/gapic/v2/types.html#google.cloud.tasks_v2.types.Task?

Why do you expect the docs explaining `create_task` to explain `task` too? 🤔

[2020-08-26 15:41] averikitsch commented on #33
@grant linked the samples repo where you can find full samples. Here is the official doc that will give more explanation to the sample: https://cloud.google.com/tasks/docs/creating-appengine-tasks#python.
The docs show that task is type `(Union[dict, Task])` and @ShahzadUmair has linked that Task definition.

[2020-08-26 15:41] #33 closed

[2020-08-26 16:48] averikitsch commented on #26
Hi! Currently we do not support transactional tasks.  For Cloud Tasks feature requests, we recommend you file an issue in their public issue tracker.  You can find that https://issuetracker.google.com/savedsearches/5433985. As of right now, you will have to add your own logic for doing the transaction then the task enqueueing and handling the errors.

[2020-08-26 16:48] #26 closed

[2020-08-26 23:15] hannemennah opened #45 "Cloud Tasks: 504 Deadline Exceeded (or 503 Deadline Exceeded) when trying to create a Cloud Task via Python client"
### Problem

When attempting to create a Cloud Task via any official Python client (e.g. `tasks_v2`, `tasks_v2beta2`, or `tasks_v2beta3`), a `504 Deadline Exceeded` error is consistently returned. This occurs regardless of the authentication technique used.

**Note:** if the same thing is attempted (using the same Cloud Task queue) with a Golang client, e.g. the [create_task](https://github.com/Go

[2020-08-31 12:25] yoshi-automation opened #35 "Synthesis failed for python-tasks"
Hello! Autosynth couldn't regenerate python-tasks. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/62315112-900b-4eef-8d49-c6c399a38931/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2020-09-01 12:24] yoshi-automation commented on #35
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/ec802b0e-f578-4046-9f8e-909fd85c8658/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2020-09-02 07:46] mikeweng commented on #25
@tjg37 Are you using gevent with gunicorn?

Tried gunicorn 19.9.0, still facing the same issue. Seeing the transport is grpc, I've patched with
[code]
from https://github.com/grpc/grpc/issues/4629#issuecomment-376962677 and addressed the issue.

[2020-09-02 08:56] tjg37 commented on #25
@mikeweng We're using eventlet with gunicorn.

[2020-09-02 09:09] mikeweng commented on #25
Saw a PR (https://github.com/grpc/grpc/pull/22062) for eventlet but got closed.

[2020-09-02 09:22] tjg37 commented on #25
Yeah, it looks like the PR (https://github.com/grpc/grpc/pull/22062) was closed when the PR (https://github.com/grpc/grpc/pull/22270) was opened. Although PR (https://github.com/grpc/grpc/pull/22270) looks like it's just related to improving testing.

In our case, we are only receiving the `google.api_core.exceptions.ServiceUnavailable: 503 Deadline Exceeded` error when updating  gunicorn from 19.

[2020-09-02 12:24] yoshi-automation commented on #35
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/f4bca394-1c62-4452-b69d-699b51e0bdf7/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2020-09-03 06:49] ognacy opened #42 "Creation of tasks in 2.0 fails"
After upgrading to 2.0.0 I am getting the following whenever I am trying to create tasks:

[code]

Reproducible in cloud run, running python 3.8.2 as well as locally running under windows.
PIP 20.1.1 locally.

[code]

Exact same code works in 1.5.0.

I am guessing something has changed in 2.0.0 but at the time of writing the release notes are not published, and I didnt have the time to debug the 2

[2020-09-03 06:59] ognacy commented on #42
OK, I have dived into the code and I see what  has changed.

    # Use the client to build and send the task.
    response = client.create_task(request={"parent": parent, "task": task})

So I think this issue can be closed, but I think you need to push out release notes and make it clear what has changed, as I am probably not the only one who have not noticed.

[2020-09-03 06:59] #42 closed

[2020-09-03 14:19] yoshi-automation commented on #35
Autosynth passed, closing! :green_heart:

[2020-09-03 14:19] #35 closed

[2020-09-05 03:16] jp-apps commented on #42
I came to report this. None of the docs reflect this change. Thanks @ognacy for figuring this out.

[2020-09-24 08:32] dooinwell opened #46 "Calling create_task() from Python app is now failing"
Hello,

_I also posted this issue on the Gcloud Issue tracker. https://issuetracker.google.com/169252786_

I'm running a Python app on GAE and since a few hours, all calls to create a task are returning the following error :

Traceback (most recent call last):    File "/env/lib/python3.7/site-packages/flask/app.py", line 2446, in wsgi_app      response = self.full_dispatch_request()    File "/env/

[2020-09-24 08:39] #46 closed

[2020-09-24 09:05] dooinwell commented on #46
false alert - consequence of a breaking change of the 2.0.0 release :  all methods now have a single positional parameter request.

[2020-10-07 20:01] colincadams opened #48 "scripts/fixup*.py run as shell scripts"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-10-12 17:18] barysevich opened #50 "CPU grows under load"
Hello,

I am using Python Cloud Task Client for communication between microservices.
Last few days I am running load tests to check for bottlenecks in my application and have noticed that the CPU always grows during a long load test. This happens when I call the `create_task` function to submit the task to the queue.

[code]

[code]

[code]

[code]

When I call the `/ webhook` endpoint at 2 reques

[2020-10-13 17:04] #50 closed

[2020-11-06 04:43] busunkim96 commented on #25
Hi,

I know it's been a while since this was filed, but if anyone following is able to provide a gRPC log that would be helpful for further debugging.

**Please redact sensitive information like auth tokens and project IDs before pasting logs here.** If you are a Googler, feel free to add on to the internal copy of this issue (157230834) instead.

[code]

According to this [stackoverflow post](htt

[2020-11-06 04:43] busunkim96 commented on #45
This looks similar enough to #25 that I'm going to close this out in favor of tracking there.

[2020-11-06 04:43] #45 closed

[2020-11-09 16:29] kujbol commented on #25
@tjg37
As far I remember on Pre 20.x.x there was a problem with auto patching eventlet,
https://docs.gunicorn.org/en/stable/news.html?highlight=eventlet#id6

your app might be not using eventlet at all, and that is why it's working on 19.9.0,
I checked and you will get the same error on 19.9.0 when you will manually patch eventlet for example with that gunicorn_conf.py file

[code]

[2020-11-10 13:14] tjg37 commented on #25
Thanks for all the helpful comments. I'd like to add some additional information to supplement my initial comment:

Using  `gunicorn==20.0.0` and an entry point of `entrypoint: gunicorn -b :$PORT -c gunicorn.conf.py config.wsgi` in app.yaml without eventlet,  I didn't receive the errors. That is, all the queued tasked completed successfully.

Similarly, when using `gunicorn[eventlet]==19.9.0` and

[2020-12-04 14:42] Lukasz-Gillner opened #52 "Task level retries documentation wrong."
Hello.

In the documentation for create_task, retry is documented as
`(Optional[google.api_core.retry.Retry]) – A retry object used to retry client library requests. If None is specified, requests will be retried using a default configuration.`
However currently according to this [feature request](https://issuetracker.google.com/issues/141314105), they are not supported by cloud tasks.
I tried it

[2020-12-07 22:54] averikitsch commented on #52
Hi @Lukasz-Gillner, the retry input is how the [client library retries the request](https://googleapis.dev/python/google-api-core/latest/retry.html#google.api_core.retry.Retry). Retries for tasks can be specified for the [queue](https://googleapis.dev/python/cloudtasks/latest/tasks_v2/types.html#google.cloud.tasks_v2.types.Queue) and you are correct you can't specify retries on per task.

[2020-12-07 22:54] #52 closed

[2020-12-08 00:29] colincadams commented on #48
Looks like this was fixed in #34! Thanks all for coming through and triaging everything.

[2020-12-08 00:29] #48 closed

[2020-12-09 17:29] busunkim96 commented on #25
@tjg37 Yep, I confirmed with @lidizheng from gRPC that `eventlet` is not supported by `gRPC`.

As there is nothing else we can do in this client library side I'm going to go ahead and close this issue.

[2020-12-09 17:29] #25 closed

[2020-12-09 17:32] tjg37 commented on #25
@busunkim96 Thanks for the helpful information.

[2020-12-10 00:11] engelke commented on #1
Does this issue still exist in current version(s) of the library? Please comment if so, for fix, or close as obsolete.

[2020-12-10 00:13] busunkim96 commented on #1
This was taken care of in https://github.com/googleapis/gapic-generator-python/issues/401.

[2020-12-10 00:13] #1 closed

[2020-12-31 11:56] Nathanmalnoury opened #62 "Documentation on scheduling a app_engine_http_request seems incorrect"
Hi,

I'm having an issue creating scheduled Cloud Tasks, using python 2. 7 : they won't work throwing a TypeError.
It's probably worth noting that as long as I dont use the `in_seconds` every thing work as expected.

Am I missing something ?

Thanks

#### Environment details

  - OS type and version: Linux / Ubuntu 20.10
  - Python version: 2.7
  - pip version: 20.3.3
  - `google-cloud-tasks` vers

[2020-12-31 13:07] Nathanmalnoury commented on #62
I just tried the same thing using python3.8 and google-cloud-tasks 2.0.0 (using the code example from the documentation), and obtained the same error.

[2021-01-04 08:25] Nathanmalnoury commented on #62
It would seem that this is an issue of documentation, rather than an issue of the API in it-self.
By modifying the snippet found in the doc by the following, I was able to schedule a task as expected:
[code]

[2021-01-21 13:47] yoshi-automation opened #67 "Synthesis failed for python-tasks"
Hello! Autosynth couldn't regenerate python-tasks. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/c7c996d0-391d-4375-a3af-1b185b0ac104/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-21 18:13] yoshi-automation commented on #67
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/bd126a99-ddcf-4060-b192-d54993a500bc/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-21 21:45] yoshi-automation commented on #67
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/d899793e-87f8-46de-9898-be7cc8a1f2b4/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-21 22:52] yoshi-automation commented on #67
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/5d69a758-46ee-4cbe-b530-b8447e6a7453/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-22 13:46] yoshi-automation commented on #67
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/5b7b3dbc-e5a6-4d3c-8a59-54f2446229b2/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-22 22:02] averikitsch commented on #62
Please update to the newest library version for the sample to work as is: [2.1.0](https://github.com/googleapis/python-tasks/blob/master/samples/snippets/requirements.txt)

[2021-01-23 13:46] yoshi-automation commented on #67
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/22432c82-35bf-446b-bb01-63bd7ff42bbe/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-24 13:44] yoshi-automation commented on #67
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/a456a4fa-1492-4938-8462-68cd04e3952b/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-25 13:42] yoshi-automation commented on #67
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/af905da7-dd5d-4e5c-a7fb-5f2d96ea70d2/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-25 17:37] averikitsch commented on #62
Please re-open if you are still experiencing this issue.

[2021-01-25 17:37] #62 closed

[2021-01-26 13:50] yoshi-automation commented on #67
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/fa6ff9f1-e296-4e28-98a3-5ddf90650592/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-27 16:03] yoshi-automation commented on #67
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/49612ab2-430c-4a20-b785-57fa78d7c720/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-28 07:54] yoshi-automation commented on #67
Autosynth passed, closing! :green_heart:

[2021-01-28 07:54] #67 closed

[2021-01-28 13:47] yoshi-automation opened #68 "Synthesis failed for python-tasks"
Hello! Autosynth couldn't regenerate python-tasks. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/a3912839-82bd-48c7-9d8d-1057e6124e5f/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-29 13:49] yoshi-automation commented on #68
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/fe3713d3-5a91-469f-8d32-daadd024abff/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-30 13:44] yoshi-automation commented on #68
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/72ece7fa-e470-41ab-ad07-6a74d5284409/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-01-31 13:46] yoshi-automation commented on #68
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/05a56363-68a8-4679-b645-1f103655464c/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-02-01 13:45] yoshi-automation commented on #68
Autosynth is still having trouble generating python-tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/1185bcf9-eb3a-4134-a556-ea84f719c356/targets/github%2Fsynthtool;config=default/tests;query=python-tasks;failed=false).

[2021-02-02 07:55] yoshi-automation commented on #68
Autosynth passed, closing! :green_heart:

[2021-02-02 07:55] #68 closed

[2021-02-10 18:30] grant commented on #2
Pinged @busunkim96 on next steps to fixing this issue.

[2021-02-10 18:36] busunkim96 commented on #2
No progress on this yet, Googlers see go/actools-api-md-design-explor for exploratory work on this being done by ACTools.

[2021-02-24 17:51] harikishan81001 opened #73 "possible memory leak while creating tasks"
We are using google cloud tasks to offload asynchronous work. We have an API endpoint that publishes notifications to subscribers and in that API it fetches subscribers from the database and multiple schedules tasks to invoke another endpoint say /send-sms or /send-email.

It seems that the process of creating a task isn't releasing memory.

**Environment Details**
OS type and version: python:3.7-

[2021-03-01 12:07] harikishan81001 commented on #73
@averikitsch thanks a lot for tagging the issue. this issue is very critical for us so it would be great if you can raise this to dev team on a priority.

[2021-03-01 17:08] averikitsch commented on #73
@harikishan81001 It does seem like library version `v2beta3` may have a memory leak, but I am not seeing that in the newest version `v2`. Are you able to update to the newest library `google-cloud-tasks==2.2.0` with `from google.cloud import tasks_v2`?

[2021-03-09 16:28] averikitsch commented on #73
Please reopen if this issue persists.

[2021-03-09 16:28] #73 closed

[2021-03-29 20:29] natasha-aleksandrova opened #82 "Cloud Tasks version 2 documentation"
Is there a documentation with full examples on how to create a task in the new version?

We've updated the library (2.2.0) and our code no longer works, I haven't found a full example on how to create a task and am stuck on setting headers.

Supposed to use `types.HttpRequest.HeadersEntry` but how do I actually set the headers values?

I've tried `HeadersEntry(content_type='application/json')` or

[2021-04-01 23:12] mdgregor commented on #82
My team is also having this issue and would love some concrete examples.

[2021-04-06 16:12] averikitsch commented on #82
Check out this [sample](https://github.com/googleapis/python-tasks/blob/master/samples/snippets/create_http_task.py) which adds a content-type to the request:
https://github.com/googleapis/python-tasks/blob/6f25ccab47d8a0efa4b330a9eb0c421b7004815e/samples/snippets/create_http_task.py#L47-L64

Samples can be found [here](https://github.com/googleapis/python-tasks/tree/master/samples/snippets) with

[2021-04-06 17:16] natasha-aleksandrova commented on #82
Isn't that the old way to create the task?

[code]

2.2.0 requires objects in order to create a task.

[2021-04-06 17:28] averikitsch commented on #82
@busunkim96 Can you advise and are new samples going to be added?

[2021-04-09 00:15] iennae commented on #2
No updates for this as of yet to share; Googlers see previous comment for detailed status.

[2021-04-09 14:50] busunkim96 commented on #2
This is on the roadmap for ACTools in Q2. Googlers, see go/actools-md-impl-plan for the implementation details.

[2021-04-09 15:52] busunkim96 commented on #82
There are no breaking changes between 2.0.0 and 2.2.0

The sample that @averikitsch linked to was tested with 2.2.0 and merged after those tests passed. https://github.com/googleapis/python-tasks/pull/71. I checked the nightlies and those are also passing.

What sort of error/warning are you seeing? @natasha-aleksandrova

[2021-04-09 16:01] natasha-aleksandrova commented on #82
The library was updated from 1.5.0 to 2.2.0. The signature of create_task is different between the two.

The question was about setting Headers via `types.HttpRequest.HeadersEntry` object as per your documentation.

The code sample linked uses `request` param and passes in a dict -- the docs say that `request` param is a `CreateTaskRequest` object.

in 1.5.0 we created a task like this:
[code]

ar

[2021-04-09 16:36] busunkim96 commented on #82
Ah, I see you're upgrading from 1.5.0. https://github.com/googleapis/python-tasks/blob/master/UPGRADING.md explains the major differences between 1.x and 2.x (there _are_ breaking changes). The samples are all up to date with the latest release, so referencing them should be helpful for migrating.

The docs unfortunately have incorrect type annotations (tracked in https://github.com/googleapis/gap

[2021-04-09 16:39] natasha-aleksandrova commented on #82
@busunkim96 thank you this helps!

[2021-04-16 17:25] #82 closed

[2021-04-18 06:02] umax opened #91 "_InactiveRpcError"
Hi, team!

Constantly got `ServiceUnavailable 503 Connection reset by peer` errors.

#### Environment details

  - OS type and version: docker `python3.9-slim`
  - Python version: `3.9`
  - pip version: `21.0.1`
  - `google-cloud-tasks` version: `2.2.0`

#### Code example

[code]

#### Stack trace
[code]

How to fix this problem?

Thanks!

[2021-04-19 15:29] averikitsch commented on #91
I've tried running this locally and in a docker container and I am unable to reproduce the issue. The error is coming from line `client.create_task(parent=queue_path, task=task)`, correct? Have you enabled the API?

[2021-04-19 19:37] umax commented on #91
hi, @averikitsch
yes, the API is enabled and this issue is not reproduced in 100% cased. I have no idea why sometimes it works and sometimes - not. The question: is this library related issue or Google backend issue? In my case I call this code inside loop, but client is instantiated one time for the hole loop.

[2021-04-19 19:44] umax commented on #91
One more stacktrace:
[code]

[2021-04-19 19:51] averikitsch commented on #91
This seems like an underlying library issue. You can try to set retries or timeout for the request. @busunkim96 can you take a look or route to the right person?

[2021-04-20 15:37] busunkim96 commented on #91
Hi @umax,

Just to double check, you sometimes see `Invalid argument` and other times `ServiceUnavailable 503 Connection reset by peer` with the same code?

I see you're executing the code inside a Docker container. Is that inside a serverless environment (AppEngine or Cloud Build for example?).

Are there any patterns to when the errors appear? (e.g., More errors after a period of inactivity?)

[2021-04-21 17:11] umax commented on #91
hi, @busunkim96

I use Google Cloud Run service to run Docker containers. [falcon](https://falcon.readthedocs.io/en/stable/) to build web application and [waitress](https://docs.pylonsproject.org/projects/waitress/en/stable/) to serve web application. I use 16 threads per container and 20 max instances for container.
This error does not depend on time and service requests. Requests count almost co

[2021-04-22 19:33] wobeng opened #92 "Please add task list location"
Please add task list locations

Thanks

[2021-04-23 11:45] keremnymn opened #93 "Can't assign dispatch deadline"
The tasks I create are killed by "(504) DEADLINE_EXCEEDED" if it exceeds 60 seconds. So I try to increase the deadline to the maximum like this:

[code]

I tried to do it with `timestamp_pb2 `as well, no luck. Is this a bug or am I missing something?

[2021-04-26 15:45] averikitsch commented on #91
How are you caching the client?

[2021-04-26 15:57] averikitsch commented on #93
Hi, can you add the complete error message? To confirm, you are successfully creating tasks but the handling of the task is not succeeding?

[2021-04-27 07:03] keremnymn commented on #93
It's `504 DEADLINE_EXCEEDED` error, nothing specific. There's nothing wrong on my end, I use Flask and Gunicorn to send tasks to Cloud Tasks. They are successfully created. The problem is Cloud Tasks kills the task after 60 seconds and retries it. I can even schedule the task using `'schedule_time'` , but seems like `dispatch_deadline `won't work. I even checked the quotas, no luck.

[2021-04-27 16:43] averikitsch commented on #93
That is interesting because the default deadline is [10 minutes](https://cloud.google.com/tasks/docs/dual-overview#http) not 60 seconds.
This has worked for me.
[code]

[2021-05-03 15:34] averikitsch commented on #93
@keremnymn any luck? What version of the library are you using?

[2021-05-05 08:04] keremnymn commented on #93
I actually switched to Celery. Unfortunately I couldn't get Cloud Tasks to work. I was using the latest versions, I even tried beta versions.

[2021-05-05 15:09] averikitsch commented on #93
What type of service is your backend ie GCF or Cloud Run?

[2021-05-06 12:17] keremnymn commented on #93
I use AWS EC2. With Flask + Gunicorn + Nginx

[2021-05-14 16:58] averikitsch commented on #91
Please reopen if you continue to experience issues.

[2021-05-14 16:58] #91 closed

[2021-06-04 20:38] pduggi-cf commented on #62
Hi,

I am seeing this issue in version 2.3.0

I am running the below

`timestamp = datetime.datetime.utcnow() + datetime.timedelta(seconds=30)

task['schedule_time'] = timestamp

client.create_task(parent = parent, task=task)`

I get `Parameter to MergeFrom() must be instance of same class: expected google.protobuf.Timestamp got datetime.datetime.`

[2021-06-04 20:46] averikitsch commented on #62
Hi @pduggi-cf , please see the sample for converting datetime to Timestamp:
https://github.com/googleapis/python-tasks/blob/2243d84b3693974648b8c8f122b897b9f8ca437c/samples/snippets/create_http_task.py#L68-L72

[2021-06-04 21:12] pduggi-cf commented on #62
The documentation at https://cloud.google.com/tasks/docs/creating-appengine-tasks seems to be the problem

Thanks for pointing me in the right direction ☺️

[2021-07-13 11:06] flaky-bot[bot] opened #128 "samples.snippets.create_http_task_with_token_test: test_create_http_task_with_token failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 47b9c1cc38a5582a4e4b5e5dc67b1a9d5fd08046
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/87

[2021-07-13 11:06] flaky-bot[bot] opened #129 "samples.snippets.delete_queue_test: test_delete_queue failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 47b9c1cc38a5582a4e4b5e5dc67b1a9d5fd08046
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/87

[2021-07-13 11:06] flaky-bot[bot] opened #130 "samples.snippets.list_queues_test: test_list_queues_not_present failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 47b9c1cc38a5582a4e4b5e5dc67b1a9d5fd08046
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/87

[2021-07-13 11:06] flaky-bot[bot] opened #131 "samples.snippets.list_queues_test: test_list_queues_present failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 47b9c1cc38a5582a4e4b5e5dc67b1a9d5fd08046
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/87

[2021-07-13 15:48] #128 closed

[2021-07-13 15:48] #129 closed

[2021-07-13 15:48] #130 closed

[2021-07-13 15:48] #131 closed

[2021-07-20 13:47] ehsan-karamad opened #137 "Authenticated (OIDC) HTTP task example should set an audience field"
According to Cloud Tasks API, when the audience field is unset, it will take the [default value of the specified URI in the
HttpRequest's target](https://cloud.google.com/tasks/docs/reference/rest/v2/projects.locations.queues.tasks#OidcToken#:~:text=If%20not%20specified,will%20be%20used.). However, this could become a problem when the URI itself contains parts such as query parameters or fragments

[2021-07-21 17:13] #137 closed

[2021-07-30 20:55] jceresini opened #147 "Creating a task fails with "expected google.protobuf.Timestamp got datetime.datetime.""
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2021-08-02 14:32] jceresini opened #148 "When to use types vs dicts with this library"
I've had a hard time using this library. I first used an example I found to create a task using this simple dictionary

I found the example by going here https://cloud.google.com/tasks/docs/quickstart which linked me to here https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/flexible/tasks/create_app_engine_queue_task.py

The example looks like this:

[code]

I modifi

[2021-08-02 22:15] jceresini commented on #147
I found another issue related to this, and I found the solution.

The python link to "View on github" on this page: https://cloud.google.com/tasks/docs/samples/cloud-tasks-taskqueues-new-task links to this python sample: https://github.com/GoogleCloudPlatform/python-docs-samples/blob/HEAD/appengine/flexible/tasks/snippets.py

I think that documentation needs to be updated to link to the samples in

[2021-08-03 17:03] averikitsch commented on #147
This has been fixed: https://github.com/GoogleCloudPlatform/python-docs-samples/pull/6509. However, @busunkim96 is it possible to require either datetime or the timestamp protobuf?

[2021-08-03 17:52] jceresini commented on #147
One potential issue with using a datetime is that functions like `datetime.datetime.now()` and `datetime.datetime.utcnow()` are timezone unaware. As a result, `datetime.datetime.utcnow().isoformat()` returns something like this `2021-08-03T17:43:05.349326` with no timezone information.

The cloudtasks API (direct API calls) rejects ISO8601 datetimes that don't contain a timezone. But submitting wi

[2021-08-03 23:44] busunkim96 commented on #148
Hi @jceresini,

Thank you for taking the time to leave feedback.

The short answer is that completely sticking with one or the either (dict or types) will work 100% of the time. Mixing (dicts with types nested inside OR types with dicts nested inside) will only work _sometimes_ because of bugs like https://github.com/googleapis/proto-plus-python/issues/161 and https://github.com/googleapis/proto-p

[2021-08-03 23:51] jceresini commented on #148
Ah, that makes sense. That might make a good case for updating the samples to be one or the other. It would probably save others from similar issues.

Thanks for the details and the links to the related issues.

[2021-08-09 18:46] busunkim96 commented on #147
Hmm. Accepting both protobuf timestamps and Python datetimes is by design. The proto-plus library is _supposed_ to convert datetimes to protobufs (https://proto-plus-python.readthedocs.io/en/stable/marshal.html). It looks like that's not happening as expected here.  I've assigned this issue to myself to investigate more closely.

@jceresini Thanks for the heads up, it sounds like our samples shoul

[2021-08-25 04:41] forking-renovate[bot] opened #153 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-08-30 16:43] #153 closed

[2021-08-30 19:38] dandhlee opened #156 "Migrate to main branch"
Contributing to https://github.com/googleapis/google-cloud-python/issues/10579, switching the default branch to `main` branch. Also replacing all occurrences of `master` to `main`.

[2021-08-31 14:57] #156 closed

[2021-09-14 16:31] abisek opened #161 "create_task takes takes too long to complete despite timeout"
#### Environment details

  - OS type and version: Ubuntu 16.04.7 LTS (Xenial Xerus)
  - Python version: Python 3.6.10
  - pip version: pip 20.2.2
  - `google-cloud-tasks` version: 2.5.1

  Additional details:

#### Steps to reproduce

  1. App is running on Google AppEngine flexible on a Gunicorn server (`gunicorn==20.0.4`) with Gevent (`gevent==20.6.2`) worker. `grpcio==1.40.0`. Recently bumped

[2021-09-30 19:02] failure-checker[bot] opened #171 "Warning: a recent release failed"
The following release PRs may have failed:

* #169

[2021-10-03 17:01] #171 closed

[2021-10-05 21:49] tseaver commented on #161
@abisek Thanks for the report.  I've had a quick look at the client's `create_task` implementation, and there isn't anything client-side which could cause the kind of delay you are seeing:  I'm pretty sure that the client is just blocked waiting for the API response from the back-end.  To confirm this, you could try running with `GRPC_VERBOSITY=debug` set in your environment -- the log output migh

[2021-10-11 20:02] failure-checker opened #180 "Warning: a recent release failed"
The following release PRs may have failed:

* #178

[2021-10-12 16:15] #180 closed, assigned to nobody

[2021-12-21 14:41] athossampayo commented on #93
We are having the same issue here, we are using the Python lib:
[code]

Also using last version of cloud-task (google-cloud-tasks==2.7.1) and tried using Duration() both FromJsonString and FromSeconds constructor methods

Any thing more to test? Is this a bug on GCP side? Thanks

[2022-01-05 10:57] swarna-kpaul commented on #93
Instead of writing this
`"dispatch_deadline": Duration().FromSeconds(1800)
`
implement the solution provided by averikitsch . It should work.
Write something like this
`from google.protobuf import duration_pb2
d = duration_pb2.Duration()
d.FromSeconds(60*30)`
and then
`"dispatch_deadline":d
`
in the task payload

[2022-01-05 20:18] athossampayo commented on #93
That actually makes sense, but for some reason it got limited on 15 minutes (900 seconds)  after the changes (I did use 60*30 on the Duration, so that's strange)

![image](https://user-images.githubusercontent.com/67998510/148283100-e0548292-3b1e-46ba-9a4a-df7db4a52091.png)

[2022-01-12 22:23] engelke commented on #147
Fixed in #6581

[2022-01-12 22:23] #147 closed

[2022-01-21 18:57] GregBueno commented on #93
We're still having this time problem yet.
You can reopen the issue ?

[2022-01-31 09:28] mvanma commented on #93
As mentioned by @swarna-kpaul the solution in https://github.com/googleapis/python-tasks/issues/93#issuecomment-827752337 is correct.

The current code snippet `task["dispatch_deadline"] = duration.FromSeconds(deadline)` doesn't change the default setting because `duration.FromSeconds(deadline)` returns None.

[2022-02-03 19:02] averikitsch commented on #92
We will be unable to get to this request.

[2022-02-03 19:02] #92 closed

[2022-02-11 05:48] GregBueno commented on #93
Hi @mvanma,
I tested it again and it worked as in the picture below,  thanks for your suggestion. We can close the issue.

![image](https://user-images.githubusercontent.com/48804211/153543466-ed73a497-d7f3-4bec-88e1-35b267638eab.png)

[2022-02-11 15:51] #93 closed

[2022-02-23 20:02] failure-checker[bot] opened #223 "Warning: a recent release failed"
The following release PRs may have failed:

* #169

[2022-02-26 18:16] #223 closed

[2022-02-26 18:21] parthea commented on #2
I'm going to close this issue as obsolete as I don't see the issue in the new docs [here](https://cloud.google.com/python/docs/reference/cloudtasks/latest). Please feel free to re-open this issue with more information.

[2022-02-26 18:21] #2 closed

[2022-02-26 18:22] #161 closed

[2022-06-09 20:01] failure-checker[bot] opened #270 "Warning: a recent release failed"
The following release PRs may have failed:

* #269

[2022-06-14 15:46] parthea commented on #270
https://pypi.org/project/google-cloud-tasks/1.5.2/

[2022-06-14 15:46] #270 closed

[2022-08-09 12:14] DavidKorczynski opened #285 "Continuous fuzzing by way of Google's OSS-Fuzz"
Hi,

I was wondering if you would like to integrate continuous fuzzing by way of OSS-Fuzz? Fuzzing is a way to automate test-case generation and has been heavily used for memory unsafe languages. Recently efforts have been put into fuzzing memory safe languages and Python is one of the languages where it would be great to use fuzzing.

In this https://github.com/google/oss-fuzz/pull/8192 I did an

[2022-08-18 18:18] ace-n commented on #285
Hi @DavidKorczynski,

Thanks for the idea. Can you point to any bugs or previous security issues with this repo where this would have helped?

(We unfortunately don't have the resource to "fuzz for fuzzing's sake", per se.)